.ant-form {
  background-color: #ddf0fe;
  border-radius: 20px 20px 20px 20px;
  &-item {
    margin-bottom: 10px !important;
  }
  label {
    margin-left: 33px;
    color: #333 !important;
    font-family: Roboto, sans-serif, arial !important;
    font-size: 14px !important;
    line-height: 5px !important;
    &::before {
      display: none !important;
    }
  }
  h2 {
    font-size: 30px;
  }
}
