@import '/src/_metronic/layout/constance.scss';

.right-wrapper {
    border: 1px solid $border-color;
    max-height: 700px;
    
    .notify {
        min-height: 50px;

        .notify-header {
            height: 32px;
            background: $second-color;
            line-height: 32px;
            padding-left: 10px;

            a {
                color: $primary-color;
                font-size: 16px;
            }
        }

        .notify-content {
            height: 208px;
            padding: 5px;
            .marquee-item {
                color: $text-color;
                border-bottom: 1px dashed  $border-color;
                text-align: left;
                word-wrap: break-word;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
        }
    }

    .recruit {
        min-height: 50px;

        .recruit-header {
            height: 32px;
            background: $second-color;
            line-height: 32px;
            padding-left: 10px;

            a {
                color: $primary-color;
                font-size: 16px;
            }
        }

        .recruit-content {
            height: 208px;
            padding: 5px;
            .marquee-item {
                color: $text-color;
                border-bottom: 1px dashed  $border-color;
                
                text-align: left;
                word-wrap: break-word;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
        }
    }

    .partner {
        .partner-header {
            height: 32px;
            background: $primary-color;
            line-height: 32px;
            padding-left: 10px;
            div {
                display: flex;
                align-items: center;

                span {
                    margin-left: 5px;
                    color: $second-color;
                    font-size: 16px;
                }
            }
        }
        .partner-content {
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $second-color;
        }
    }

    .image-news {
        min-height: 50px;
        margin-top: 10px;
        .access-header {
            height: 32px;
            background: $second-color;
            line-height: 32px;
            padding-left: 10px;

            a {
                color: $primary-color;
                font-size: 16px;
            }

        }
        .access-content {
            height: 100px;
        }
    }

    .documents {
        .access-header {
            height: 32px;
            background: $second-color;
            line-height: 32px;
            padding-left: 10px;

            a {
                color: $primary-color;
                font-size: 16px;
            }

        }
    }

    .access {
        min-height: 50px;
        padding-bottom: 5px;
        .access-header {
            height: 32px;
            background: $primary-color;
            line-height: 32px;
            padding-left: 10px;

            span {
                margin-left: 5px;
                color: $second-color;
                font-size: 16px;
            }

        }
        .access-content {
            padding: 5px 10px;
            height: 50px;  

        }
    }
}