#listNews {
    .ant-list-items {
        .ant-list-item {
            cursor: pointer;
            div {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                padding-left: 5px;
            }
            img {
                height: 40px;
                width: 50px;
            }
        }

    }
}