.card-bussiness {

  .card-body {
    position: relative;
    padding: 0rem !important;

    .card-title {
      color: #336699;
      font-weight: bold;
      font-size: 19px;
      display: inline-block;
      transition: all ease 0.3s;

      &:hover {
        color: #cc0000
      }
    }

    .card-time {
      font-size: 15px;
    }

    .ant-card-body {
      padding: 10px 24px !important;
    }
  }
}