@import '/src/_metronic/layout/constance.scss';

.content-container {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    width: 100%;
    min-height: calc(100vh - 235px);

    .work-permit {
        overflow: hidden;
        .wp-header-wrap {
            display: flex;
            justify-content: center;
            align-items: center;

            .wp-header {
                padding: 2px;
                text-align: center;
                background-color: $primary-color;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;
                h4 {
                    font-weight: 600;
                    font-size: 1.2rem;
                }

                h6 {
                    font-weight: 600;

                    span {
                        color: $primary-color;
                    }
                }

                .wp-image-wrap {
                    .wp-img {
                        position: relative;
                        width: 113.368px;
                        height: 151.181px;
                        padding-top: 5px;
                        margin: 0 auto;
                        background: white !important;
                        border: 2px solid #fff;
                        img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            overflow: hidden;
                            left: 0;
                        }
                    }
                }

                .wp-header-name {
                    h5 {
                        padding-top: 10px;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        color: $white-color;

                        span {
                            text-transform: none;
                        }
                    }
                }
            }

            .wp-header-ex {
                padding-top: 6px;
                text-align: center;
                position: relative;
                .status-wrap {
                    display: flex;
                    justify-content: center;
                    font-weight: 600;
                    .wp-valid {
                        display: flex;
                        color: $success-color;
                    }
                    .wp-invalid {
                        display: flex;  
                        color: $danger-color;
                    }
                    i {
                        padding-left: 5px;
                        font-size: 1.1rem;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .wp-body {
            padding: 20px 15px 5px 15px;

            .wp-field {
                padding-bottom: 8px;

                .wp-label {
                    color: #666;
                    padding-bottom: 2px;
                }

                .wp-input {
                    padding-left: 20px;
                    padding-top: 2px;
                    font-weight: 600;
                    span{
                        font-weight: 300;
                    }
                    .to {
                        padding-left: 10px;
                    }
                }
                .wp-input.not-info {
                    font-weight: 400;
                    color: #666;
                }
            }

            .wp-bt {
                .btn-show, .btn-hide{
                    border: 1px solid $primary-color;
                    border-radius: 16px;
                    padding: 5px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    gap: 5px;
                    color: $text-color;
                    background-color: #FFF;
                }
                .btn-show:hover, .btn-hide:hover {
                    color: #fff;
                    background: $primary-color;
                }
            }
            
        }
    }
}