@import '/src/_metronic/layout/constance.scss';

.content-container {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    width: 100%;
    min-height: calc(100vh - 235px);
    .page-header {
        .contact {
            border-bottom: 1px solid $border-color;

            h2 {
                word-spacing: 5px;
                color: $primary-color;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow:
                    -0.0075em 0.0075em 0 mix(#fff, $primary-color, 94%),
                    0.005em 0.005em 0 mix(#fff, $primary-color, 60%),
                    0.01em 0.01em 0 mix(#fff, $primary-color, 62%),
                    0.015em 0.015em mix(#fff, $primary-color, 64%),
                    0.02em 0.02em 0 mix(#fff, $primary-color, 66%),
                    0.025em 0.025em 0 mix(#fff, $primary-color, 68%),
                    0.03em 0.03em 0 mix(#fff, $primary-color, 70%),
                    0.035em 0.035em 0 mix(#fff, $primary-color, 72%);
            }
            .contact-item {
                .contact-lable {
                    font-weight: bold;
                    text-decoration: underline;
                    padding-right: 5px;
                }
            }
        }
    }

    form {

        button#kt_sign_up_submit {
            width: 120px !important;
            background: $primary-color;
        }

        button#kt_sign_up_submit:hover:active:focus {
            background-color: $hover-primary-color;
        }

        button#kt_login_signup_form_cancel_button {
            width: 120px !important;
            background: $second-color;
        }
    }
}