@import '~antd/dist/antd.css';

.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 20px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.comments-container {
  margin-top: 24px;

}

.comments-container .infinite-scroll-component__outerdiv {
  height: 400px;
  overflow: auto;
  padding: 16px;
  border: 1px solid rgba(140, 140, 140, 0.35);
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid #336699;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px;
}

.comment-form-textarea:hover {
  outline: none;
}

.comment-form-textarea:focus-visible {
  outline: none;
}

.comment-form-textarea::placeholder {
  font-size: 18px;
  padding: 4px;
}

.comment-wrapper {
  display: flex;
  align-items: center;
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: #336699;
  border-radius: 4px;
  color: white;
  outline: none !important;
  border: none !important;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: #1a5997;
  ;
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-button.comment-form-cancel-button {
  margin-left: 10px;
  background-color: #f4516c;
}

.comment-form-button.comment-form-cancel-button:hover {
  background-color: #f12849;
}

.comment {
  display: flex;
  margin-bottom: 14px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.comment-author {
  margin-right: 8px;
  font-size: 18px;
  color: #336699;
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 2px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

.view-rate {
  font-size: 14px;
}

.comment-status-text {
  padding: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #336699;
}

.loading {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
  height: 100%;
  span {

  }
}