$primary-color: #033e9b;
$second-color : #91BBE5;
$third-color: #e0eaf4;

$hover-primary-color: #d42323;

$hover-second-color: #d8a331;
$text-color: #333;
$white-color: #fff;
$blue-color: #1890ff;

$border-color: #e5e5e5;
$btn-default: #FAFAFA;
$success-color: #198754;
$danger-color:#dc3545

