@import '/src/_metronic/layout/constance.scss';

.header-menu-container {
    background-color: $primary-color;
    background-position: top right;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.navbar-nav {
    .symbol>img {
        object-fit: cover;
    }

    width: 100%;

    .ant-menu {
        background: none !important;
        border-bottom: none !important;

        .ant-menu-overflow-item {
            padding: 0 15px !important;
        }

        .ant-menu-item>span>a,
        .ant-menu-title-content,
        .ant-menu-submenu {
            color: rgb(255 255 255) !important;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 14px;

            a {
                position: relative;
                color: rgb(255 255 255) !important;

                .anticon.anticon-caret-down {
                    position: absolute;
                    top: 2px;
                }
            }
        }

        .ant-menu-item-selected {
            background-color: rgba(0, 0, 0, .05) !important;
            // border-bottom: 2px solid #c00;

            ::after {
                border-bottom: none !important;
            }
        }
    }
}

.TD-link-img {
    img {
        width: 100%;
        max-width: 100%;
    }
}

.head-top {
    background-color: #e0eaf4;
    color: #2f5e8e
}

#kt_header {
    border: none;

    &>.header-content-contianer {
        padding: 0;
        height: 100px;
        position: relative;
        // background-image: url('../assets/images/background.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed
    }

    .header-content-contianer {
        .d-flex.align-items-center .flex-shrink-0 {
            width: 100%;
        }

        .go-admin {
            border: 1px solid $primary-color;
            border-radius: 3px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 5px;
            color: $text-color;
            background-color: #fff;
        }

        .go-admin:hover {
            color: #fff;
            background: $primary-color;
        }
    }

    .header-date-time {
        text-align: right;
    }

    .header-times {
        color: $primary-color  !important;
        font-size: 25px !important;
        font-weight: 600;
    }
}

.header-bottom {
    background: $second-color;
    // background-image: url('../assets/images/background.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;

    .container {
        .header-bottom-wrapper {
            padding: 5px 0 2px 0;
            display: flex;
            justify-content: space-between;
            background: $second-color;

            .header-bottom-right {
                display: flex;
            }
        }
    }
}

.head-top-acount {
    a {
        color: $primary-color;
        padding: 5px;
        display: inline-block;
    }

    a:hover {
        color: $primary-color;
    }
}


.logo-qh {
    .logo {
        text-align: center;
        position: absolute;
        width: 126px;
        line-height: 124px;
        display: block;
        z-index: 999;
        top: 8px;
        border-radius: 50%;
        overflow: hidden;
    }

    .logo-title {
        padding: 20px 0 10px 160px;

        article {
            text-align: left;
            line-height: 1;

            h1 {
                font-size: 1.8rem;
                font-weight: bolder;
                color: $primary-color;
                text-shadow:
                    -0.0075em 0.0075em 0 mix(#fff, $primary-color, 94%),
                    0.005em 0.005em 0 mix(#fff, $primary-color, 60%),
                    0.01em 0.01em 0 mix(#fff, $primary-color, 62%),
                    0.015em 0.015em mix(#fff, $primary-color, 64%),
                    0.02em 0.02em 0 mix(#fff, $primary-color, 66%),
                    0.025em 0.025em 0 mix(#fff, $primary-color, 68%),
                    0.03em 0.03em 0 mix(#fff, $primary-color, 70%),
                    0.035em 0.035em 0 mix(#fff, $primary-color, 72%);
            }

            p {
                font-size: 1.4rem;
                color: $blue-color;
                line-height: 1.1;
                text-shadow:
                    -0.0075em 0.0075em 0 mix(#fff, $blue-color, 94%),
                    0.005em 0.005em 0 mix(#fff, $blue-color, 60%),
                    0.01em 0.01em 0 mix(#fff, $blue-color, 62%),
                    0.015em 0.015em mix(#fff, $blue-color, 64%),
                    0.02em 0.02em 0 mix(#fff, $blue-color, 66%),
                    0.025em 0.025em 0 mix(#fff, $blue-color, 68%),
                    0.03em 0.03em 0 mix(#fff, $blue-color, 70%),
                    0.035em 0.035em 0 mix(#fff, $blue-color, 72%);

            }
        }
    }
}

.auction-counter-time {
    background-color: rgba(#fff, 0.9);
    border-radius: 5px;
    padding: 5px
}

.auction-date-register {
    color: #fff;
    display: flex;
    flex-wrap: wrap;

    .date-label {
        text-align: center;
        padding: 10px 5px;
        background-color: #cc0000;
        margin-right: 10px;

        p {
            margin: 0;
        }

        b {
            font-size: 17px;
            font-weight: 700 !important;
            font-family: sans-serif;
        }
    }

    .time-label {
        padding: 5px 10px;
        text-align: center;

        b {
            font-size: 19px;
            font-family: sans-serif;
        }
    }

    &.date-start {
        margin-bottom: 15px;

        .date-label {
            background-color: #6aa21e;
        }
    }
}

.card.card-chart-home {
    background: linear-gradient(#5396d9, #457cb3);

    .card-header {
        background: linear-gradient(#5396d9, #457cb3);
        border: none;

        .card-title {
            text-transform: uppercase;
            padding-left: 10px;
            text-shadow: 0px 1px 1px rgba(#000, 0.4);
            font-size: 15px;
        }
    }

    .card-body {
        // background-image: url(images/overview-bg.png);
        background-repeat: repeat-x;
        background-size: 380px auto;
        background-position: 15px bottom;
    }
}

.section-title-holder {
    margin-bottom: 25px;
    margin-top: 15px;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: 500;
    color: #2f5e8e
}

.section-border {
    width: 100%;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 5px 0 10px;
}

.wrapper-content {
    background: $white-color;
}

.modal-content {
    form {
        a {
            color: $primary-color;
        }

        a:hover {
            color: $hover-primary-color;
        }

        .btn-primary {
            background: $primary-color;
        }

        .btn-primary:hover:focus:active {
            background: $hover-primary-color  !important;
        }

        .btn-warning {
            background: $second-color;
        }
    }
}


.footer {
    background: $primary-color;
    color: $white-color;
    padding: 10px 0;
    text-align: center;

    .fb-item {
        display: inline-block;
        margin: 5px 15px;
    }
}

@media (min-width: 992px) {
    .navbar-expand .navbar-toggler {
        display: none;
    }

    .navbar-expand .navbar-collapse {
        display: flex !important;
    }

    body:not([data-kt-sticky-header=on]) .header .header-menu .menu>.menu-item {

        &>.menu-link.active,
        &>.menu-link:hover:not(.disabled):not(.active) {
            background-color: rgba(#000, 0.15) !important;
        }
    }
}

@media (min-width:768px) {
    .header-menu-container {
        .navbar-nav {
            padding-left: 160px;

        }
    }
}

.home-icon {
    font-size: 18px;
}

@media (max-width: 1366px) {}

@media (max-width: 991px) {


    .logo-qh {
        .logo {
            max-width: 70px;
            height: auto;
            line-height: inherit;
            background: transparent;
            border: none;
            position: relative;
            min-width: 70px;
        }

        .logo-title {
            padding: 20px 0px 10px 10px;

            article {
                h1 {
                    font-size: 1.6rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .navbar-expand .navbar-collapse.collapse:not(.show) {
        display: none !important;
    }

    .navbar-expand .navbar-toggler {
        display: block !important;
    }

    .navbar>.container {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .navbar-collapse {
        .navbar-nav {
            &>a {
                border-radius: 4px;
                background-color: rgba(#fff, 0.1);
                margin-bottom: 1px;
            }
        }
    }

    .card-hightlight .h-300px {
        max-height: 200px;
    }

    #content-right {
        .card-body-chart {
            max-height: 230px;
            height: 230px !important;
        }
    }
}

@media(max-width: 767px) {
    .logo-qh {
        .logo {
            max-width: 70px;
            height: auto;
            line-height: inherit;
            background: transparent;
            border: none;
            position: relative;
            min-width: 70px;
        }

        .logo-title {
            padding: 20px 0px 10px 10px;

            article {
                h1 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media(max-width: 580px) {
    .header-dates {
        flex-direction: column;
    }

    .logo-qh {
        .logo {
            max-width: 55px;
            min-width: 55px;
            top: 0
        }

        .logo-title {
            padding: 5px 0px 0px 10px;

        }
    }

    #kt_header {
        .header-times {
            font-size: 18px !important;
        }

        &>.header-content-contianer {
            height: auto
        }
    }

    .header-content-contianer,
    .header-menu-container {
        .container-xxl {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .head-top {
        .container {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .header-menu-container {
        .container-xxl {
            align-items: center !important;
        }
    }
}