@import '/src/_metronic/layout/constance.scss';

.content-container {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    width: 100%;
    min-height: calc(100vh - 235px);
    .page-content {
        padding: 10px 20px;
        .ant-list-items {
            .ant-list-item {
                a {
                    color: $primary-color;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }

        .worker-list {
            .ant-list-items {
                .ant-list-item {
                    flex-direction: column;
                }

                .worker-item-wrapper {
                    width: 100%;

                    .worker-title {
                        text-transform: uppercase;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }

                    .worker-summary {
                        margin: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}